<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556241478728-mg3ons2aapkbu570er27flqdf7t21di8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556241478728-mg3ons2aapkbu570er27flqdf7t21di8</string>
	<key>API_KEY</key>
	<string>AIzaSyDOArZjj32Aeih3IqQM_2jsOm8qJtQMCJE</string>
	<key>GCM_SENDER_ID</key>
	<string>556241478728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.courseProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>courseapp-e0f42</string>
	<key>STORAGE_BUCKET</key>
	<string>courseapp-e0f42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556241478728:ios:82f2dbd2681bc747f9e47d</string>
</dict>
</plist>